@import "tailwindcss/theme.css" layer(tw);
@import "tailwindcss/utilities.css" layer(tw);
// @layer tw-base, base, site, tw;
@layer tw-base {
  :root:is(#body, .c-footer, .unauthenticated) {
    @import "./preflight-modified.css";
  }
}

// @source "./style.css";
// @source "./existing-overrides.css";

@utility flow--* {
  --flow-space: --value(--spacing- *);
  --flow-space: --spacing(--value(integer));
}


@utility fluid {
    --fluid-min: calc(var(--font-size-min, var(--sm-px, 14)) * pow(var(--font-ratio-min, 1.2), var(--font-level, 0)));
    --fluid-max: calc(var(--font-size-max, var(--font-size-base-px, 16)) * pow(var(--font-ratio-max, 1.5), var(--font-level, 0)));
    --fluid-preferred: calc((var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max, 1275) - var(--font-width-min, 375)));
    --fluid-type: clamp((var(--fluid-min) / 16) * 1rem,((var(--fluid-min) / 16) * 1rem) - (((var(--fluid-preferred) * var(--font-width-min, 375)) / 16) * 1rem) + (var(--fluid-preferred) * var(--variable-unit, 100vi)),(var(--fluid-max) / 16) * 1rem);
    font-size: var(--fluid-type);
}




