/* TEMP - remove when tw integrated */
.main-content {
  @media (min-width: 990px) {
    grid-column: span 3;
  }
}

.content-grid {
  @include content-grid-rules();
}

.content-grid_full {
  @include content-grid__full-rules();
  &:is(nav) {
    > a {
      @container content-grid (min-width:#{$contentGridFullLgBp}) {
        grid-column: span 2;
      }
    }
  }
}

.content-grid__main {
  @include content-grid__main-rules();
}

.content-grid:has(.content-grid__aside) {
  @container content-grid (min-width:#{$contentGridFullLgBp}) {
    .content-grid__main {
      grid-column: span 6;
    }
  }
}

:is(#{$asideSelector}) {
  @include content-grid__aside-rules();
  #filterMenu {
    padding-top: 0;
    // margin-top: var(--spacing-md);
  }
  @container content-grid (max-width:#{$contentGridFullLgBp}) {
    .collapse-content {
      padding-top: var(--spacing-sm);
      padding-right: 1rem; // scrollbar space
    }
    .formDetails {
      padding-right: var(--layout-gap);
    }
    #filterMenu {
      overflow-y: auto;
      max-height: var(--aside-height);
      overscroll-behavior-block: contain;
    }
    .facetHeading {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

:where(.content-grid_full > :where(.heading, section)) {
   --flow-space: var(--space-2xl);
}

:where(.content-grid_full > section > *) {
   --flow-space: var(--space-lg);
}

:where(.content-grid_full > .c-collapse) {
   grid-column:1/-1;
}

.content-grid__main__item--span-2-lg {
  @container content-grid (min-width:#{$contentGridFullLgBp}) {
    grid-column: span 2;
  }
}
.content-grid__main__item--span-3-lg {
  @container content-grid (min-width:#{$contentGridFullLgBp}) {
    grid-column: span 3;
  }
}
.content-grid__main__item--span-4-lg {
  @container content-grid (min-width:#{$contentGridFullLgBp}) {
    grid-column: span 4;
  }
}
.content-grid__main__item--span-5-lg {
  @container content-grid (min-width:#{$contentGridFullLgBp}) {
    grid-column: span 5;
  }
}
.content-grid__main__item--span-6-lg {
  @container content-grid (min-width:#{$contentGridFullLgBp}) {
    grid-column: span 6;
  }
}

@container content-grid (min-width:#{$contentGridFullLgBp}) {
  :where(.content-grid__aside) {
    grid-row: span 4;
  }
}

.content-grid__aside {
  @if $disableNewHeaderLoggedIn {
    --aside-sticky-top: 75px;
  } @else {
    --aside-sticky-top: 105px;
  }
}

@media (min-width: 960px) {
  .content-grid__aside {
    --aside-sticky-top: 0px;
  }
}

.layout-grid:has(> .test-eight-col) {
  --layout-column-min: 2ch;
  --column-count: 2;
  @container (width >= 24rem) {
    --column-count: 4;
  }
  @container (width >= 32rem) {
    --column-count: 8;
  }
}

.content-grid__aside .collapse-content {
   padding-bottom: var(--space-xl);
}

.content-grid__aside {
   a.active {
      color: var(--color-primary);
      font-weight: 600;  
   }
}

@container content-grid (max-width: 80ch) {
    .content-grid__aside .collapse-content {
        padding-inline: calc(1rem + var(--spacing-sm));
    }
}

@container content-grid (max-width: 80ch) {
    .content-grid__aside {
        padding-inline-start: 0;
        .collapse-title {
           padding-inline: var(--wrapper-inline);
        }
    }
}

