@layer existing-overrides {
  /* This is set in existing reset - currently not included */
  #facetList .facetContainer div ul {
    padding: 0;
  }

  #facetList .facetContainer {
    border-top: 0;
    &:first-of-type {
      .facetHeading {
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
      }
    }
    &:last-of-type {
      .facetContainer div ul li:last-of-type {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
      }
    }
  }

  .facetHeading {
    --color: var(--color-primary);
    font-size: var(--text-sm);
    background: var(--color-grey-12);
    border: 1px solid color-mix(in oklab, var(--color-grey-12), var(--color-dark) 2%);
    padding-block: var(--space-3xs);
    position: sticky;
    top: 0;
    z-index: 1;    
    &:has(+ div[style*="display:none"]) {
      border-bottom-color: var(--color-grey-12);
    }
    + div {
      margin-block-start: var(--space-2xs);
    }
  }

  :is(#facetList .filter-state-selected, #facetList .filter-state-selectlist) {
    display: flex;
  }

  #facetList a {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-right: 0;
    font-size: var(--sm);
  }

  #facetList a .facetCount {
    position: relative;
    right: 0;
    flex-grow: 0;
  }

  #facetList .facetContainer div ul li {
    margin-bottom: 6px;
  }

  /* #facetList .facetContainer {
        margin: 0 0 13px 0;
    } */

  :is(
      #facetList .filter-state-selected,
      #facetList .filter-state-selected:hover,
      #facetList .filter-state-selectlist,
      #facetList .filter-state-selectlist:hover,
      #facetList .filter-state-uparrow
    ) {
    background-image: url(./assets/facet_filter_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 var(--bg-y-pos);
  }

  #facetList .filter-state-uparrow {
    --bg-y-pos: -137px;
  }

  #facetList .filter-state-selected {
    --bg-y-pos: -103px;
  }

  #facetList .filter-state-selected:hover {
    --bg-y-pos: -122px;
  }

  #facetList .filter-state-selectlist {
    --bg-y-pos: -82px;
  }

  #facetList .filter-state-selectlist:hover {
    --bg-y-pos: -64px;
  }

  :is(#filterMenu > .introHeading, #filterMenu > #matched) {
    display: none;
  }

  :is(#searchResults, .searchResults, .searchResults > ul) {
    display: contents;
  }

  .searchResults {
    .pager {
      grid-column: 1/-1;
      padding-bottom: var(--space-xs);
    }
  }

  .searchResultsWrapper .searchResults .pager .actionLinks {
    background: var(--color-secondary);
    border-radius: var(--radius);
  }

  .searchResults > ul > li {
    all: unset;
    --purchase-block-bg: color-mix(in oklab, var(--color-grey-12), white 50%);
    display: grid;    
    @container content-grid (max-width: 799px) {
      grid-auto-rows: 200px auto auto;
    }
    @container content-grid (min-width: 800px) {
      grid-auto-flow: column;
      grid-column: 1/-1;
      grid-auto-columns: 120px auto auto auto max-content;
    }
    @container content-grid (min-width: 900px) {
      grid-template-columns: subgrid;
      &:before {
        content: "";
        display: block;
        border: 1px solid var(--purchase-block-bg);
        width: calc(100% - 10px);
        height: 100%;
        position: absolute;
        inset: 0;
      }
      &:after {
        content: "";
        display: block;
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 2px 0px 0
          color-mix(in oklch, var(--purchase-block-bg), transparent 50%);
        height: 1px;
      }     
      + li {
        margin-top: var(--space-xs);
      }       
    }
    font-size: var(--text-xs);
    position: relative;
    .image {
      width: 100%;
      padding: 0;
      height: auto;
      padding-block: var(--space-sm);
      display: flex;
      align-items: center;
      @container content-grid (min-width: 800px) {
        align-items: flex-start;
      }
      img {
        width: 100%;
        max-height: inherit;
        aspect-ratio: 1/1;
        object-fit: contain;
        max-width: min(150px, 100%);
        margin-inline: auto;
      }
    }
    h2 {
      --heading-default-font-size-max: var(--lg-px);
      --heading-default-font-size-min: var(--md-px);
      --font-weight: 600;
      grid-column: 1/-1;
      --heading-default-text-transform: none;
      --font-size-min: var(--heading-default-font-size-min, var(--lg-px));
      --font-size-max: var(--heading-default-font-size-max, var(--xl-px));
      --font-size: calc(
        (var(--font-size-max) / var(--font-size-base-px)) * 1rem
      );
      --font-ratio-min: var(--heading-default-font-ratio-min, 1.2);
      --font-ratio-max: var(--heading-default-font-ratio-max, 1.5);
      --font-width-min: var(--heading-default-font-width-min, 375);
      --font-width-max: var(--heading-default-font-width-max, 1440);
      --text-transform: var(--heading-default-text-transform, uppercase);
      --letter-spacing: var(--heading-default-letter-spacing, 0);
      --line-height: var(--heading-default-line-height, 1.2);
      font-size: var(--font-size);
      text-transform: var(--text-transform);
      letter-spacing: var(--letter-spacing, normal);
      line-height: var(--line-height, inherit);
      color: var(--color, var(--color-heading, var(--color-dark)));
      font-family: var(--font-family, var(--font-family-heading));
      font-weight: var(--font-weight, var(--font-heading-weight, 600));

      --fluid-min: calc(
        var(--font-size-min, var(--sm-px, 14)) *
          pow(var(--font-ratio-min, 1.2), var(--font-level, 0))
      );
      --fluid-max: calc(
        var(--font-size-max, var(--font-size-base-px, 16)) *
          pow(var(--font-ratio-max, 1.5), var(--font-level, 0))
      );
      --fluid-preferred: calc(
        (var(--fluid-max) - var(--fluid-min)) /
          (var(--font-width-max, 1275) - var(--font-width-min, 375))
      );
      --fluid-type: clamp(
        (var(--fluid-min) / 16) * 1rem,
        ((var(--fluid-min) / 16) * 1rem) -
          (((var(--fluid-preferred) * var(--font-width-min, 375)) / 16) * 1rem) +
          (var(--fluid-preferred) * var(--variable-unit, 100vi)),
        (var(--fluid-max) / 16) * 1rem
      );
      font-size: var(--fluid-type);
    }

  }
  /* 
  .searchResultsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    container: none;
    align-content: start;
    grid-column: 1/-1;
    @container content-grid (min-width:900px) {
      grid-column: span 8;
      grid-template-columns: subgrid;
      ul > li {
        grid-column: span 6;
      }      
    }
  } */

  .searchResultsWrapper {
    display: grid;
    /* grid-template-columns: subgrid; */
    container: none;
    align-content: start;
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - var(--layout-gap)), 1fr) minmax(calc(50% - var(--layout-gap)), 1fr));
    @container content-grid (max-width: 799px) {
      gap: var(--layout-gap);
    }
    @container content-grid (min-width: 900px) {
      grid-column: span 6;
      grid-template-columns: subgrid;
    }
  }

  .searchResultsWrapper .searchResults ul li.resultItem .purchaseBlock {
    all: unset;
    width: auto;
    background: var(--purchase-block-bg);
    padding-block: var(--space-sm);
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(3, auto);
    padding-inline: var(--space-sm) var(--space-md);
    @container content-grid (min-width: 900px) {
      grid-column: span 2;
      mask: conic-gradient(
          from -135deg at right,
          #0000,
          #000 1deg 90deg,
          #0000 91deg
        )
        50% / 100% calc(1 * 20px);
    }
  }

  .searchResultsWrapper .searchResults ul li.resultItem .purchaseBlock .basket {
    display: contents;
    div:last-child {
      grid-column: 2 / 2;
      grid-row: 3 / 3;
      align-content: flex-end;
    }
  }

  .resultItem .purchaseBlock .basket input {

    --input-bg: transparent;
    --input-outline-color:  color-mix(in oklab, var(--color-grey-12), var(--color-dark) 2%);    
    &:hover {      
      --input-bg:  color-mix(in oklab, var(--color-grey-12), white 50%);
      --input-outline-color:  color-mix(in oklab, var(--color-grey-12), var(--color-dark) 2%);
    }
    &:focus {
      
    }
  }

  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .purchaseBlock
    .pricing {
    grid-row: 2 / 4;
    grid-column: 2 / 2;
    align-content: end;
    max-height: calc(100% - (3em + var(--space-xs)));
  }

  .addToBasketWrap {
    display: flex;
    button {
      &:first-of-type {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }
      &:last-of-type {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        padding-inline: var(--space-3xs);
        min-width: 32px;        
      }
    }
  }

  .resultItem .purchaseBlock .refQty {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: var(--space-2xs);
    row-gap: var(--space-2xs);
    align-items: center;
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    align-self: end;
    --input-text-frame-x: var(--spacing-xs);
    --input-text-frame-y: calc(var(--space-3xs) * 0.5);    
    label {
      display: contents;
      br {
        display: none;
      }
      span {
        grid-column: 1/-1;
        text-align: left;
        line-height: 1;
        padding-left: calc(var(--input-text-frame-x) * 1);
      }
    }
    input {
      width: min-content;
      max-width:72px;
    }
  }

  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .purchaseBlock
    .pricing
    p.youPay
    span,
  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .purchaseBlock
    .pricing
    p.loggedOut
    span,
  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .purchaseBlock
    .pricing
    p.youPay
    label
    span,
  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .purchaseBlock
    .pricing
    p.loggedOut
    label
    span,
  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .purchaseBlock
    .pricing
    p.youPay
    label,
  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .purchaseBlock
    .pricing
    p.loggedOut
    label {
    font-size: var(--text-sm);
    display: flex;
    justify-content: flex-end;
  }

  .searchResultsWrapper .searchResults ul li.resultItem .purchaseBlock .pricing p.youPay span.exVAT, .searchResultsWrapper .searchResults ul li.resultItem .purchaseBlock .pricing p.loggedOut span.exVAT, .searchResultsWrapper .searchResults ul li.resultItem .purchaseBlock .pricing p.youPay span.incVAT, .searchResultsWrapper .searchResults ul li.resultItem .purchaseBlock .pricing p.loggedOut span.incVAT {
    margin-left:2px;
  }

  .searchResults .resultItem .productData {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: var(--space-sm);
    @container content-grid (min-width: 800px) {
      grid-column: span 3;
    }
  }

  .searchResultsWrapper .searchResults ul li.resultItem .productData .availability {
    grid-column: 1 / -1;
  }

  .resultItem .biblioData {
    grid-column: 1/-1;
    display: grid;
    padding-block-start: var(--space-xs);
    @container content-grid (min-width: 900px) {
      grid-template-columns: subgrid;
    }
  }

  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .productData
    .biblioData
    ul {
    all: unset;
    display: contents;
    li:not(:has(span)) {
      grid-column: 1/-1;
      ~ li:has(span) {
        margin-top: var(--space-sm);
      }
    }
    li span {
      font-weight: 900;
    }
  }

  .searchResultsWrapper .searchResults .pager .actionLinks ul {
    font-size: var(--text-xs);
    padding: 0;
  }

  .searchResultsWrapper
    .searchResults
    ul
    li.resultItem
    .productData
    .availability
    .icon-text {
    font-size: var(--text-xs);
  }

  .searchResultsWrapper .searchResults .pager ul li.pagerOptions ul li.pagerLinks ul {
    display: flex;
  }

  .searchResultsWrapper .searchResults .pager ul li.pagerOptions ul li.pagerLinks ul li {
    --pag-size: 2em;
    all:unset;
    aspect-ratio: 1 / 1;
    flex:1;
    width:var(--pag-size);
    height:var(--pag-size);
    font-size: var(--text-sm);
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: var(--radius);
  }
  
  .searchResultsWrapper .searchResults .pager ul li.pagerOptions ul li.pagerLinks ul li.pageselected  {
    background-color: var(--color-secondary);
  }

  .searchResultsWrapper .searchResults .pager ul li.pagerOptions a:not(.k-pager-nav) {
    all:unset;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .btn-primary {
    --button-color: var(--button-default-color, var(--color-grey-10));
    --button-color-contrast: var(
      --button-default-color-contrast,
      var(--color-grey-10-contrast)
    );
    --button-border-color: color-mix(
      in oklab,
      var(--button-color),
      calc(var(--button-border-depth, 1) * 5%)
        var(--button-border-color-mix, var(--color-dark, #000))
    );
    --button-fg: var(--button-color-contrast);
    --button-bg: var(--button-color);
    --button-border: var(--button-border-color);
    display: inline-flex;
    justify-content: center;
    color: var(--button-fg);
    background-color: var(--button-bg);
    border: var(--button-border-width, 1px) var(--button-border-style, solid)
      var(--button-border, var(--button-color));
    padding: var(--button-padding-block-start, var(--text-frame-y))
      var(--button-padding-inline-end, var(--text-frame-x))
      var(--button-padding-block-end, var(--text-frame-y))
      var(--button-padding-inline-start, var(--text-frame-x));
    border-radius: var(
      --button-border-radius,
      min(var(--radius), var(--button-max-radius, var(--radius)))
    );
    font-weight: var(--button-font-weight, normal);
  }

  .btn-primary {
    --button-color: var(--color-primary);
    --button-color-contrast: var(--color-primary-contrast);
    --button-fg: var(--button-fg-primary, var(--button-color-contrast));
    --button-bg: var(--button-bg-primary, var(--button-color));
    --text-frame-x: calc(
      var(--text-frame-y, 0.725em) * var(--text-frame-ratio, 2.75)
    );
  }


  :is(.temp-hide, .k-pager-nav, .ddlPageSort, .itemsPerPage) {
    display: none;
  }
}
