#mainHeader #logo{
    margin-top:10px;
}

#mainHeader #logo a {
    background: url(/Content/Images/lasgo-logo.png) 0 50% no-repeat;
    width: 180px;
    text-indent: -30000px;
    display: block;
    margin: 0;
    background-size: 180px;
    padding: 30px 0;
}

.stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.logoSection #logo {
    margin-top:-5px;
}

.stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.logoSection #logo a.normal {
    background: url(/Content/Images/lasgo-logo.png) 0 50% no-repeat;
    height: 48px;
    width: 180px;
    text-indent: -30000px;
    display: block;
    margin: 0;
    background-size: 180px;
    padding: 4px 0;
}