.c-about-us {
  --layout-gap: var(--space-2xl);
  row-gap: var(--space-md);
  line-height: 1.5;
}

.c-about-us-intro {
  > div:first-child {
    max-width: 100px;
  }
  > div:last-child {
    flex-basis: 60%;
  }
}
