@layer existing-overrides {

  @layer unset {

    #breadCrumb {
      display: none;
    }

    #accountHeader.clearfix,
    #accountHeader .clearfix {
      &:before, &:after {
        all: unset;
      }
    }

    #megaMenuHeader #navWrapper .navinner>ul.loggedIn ul.primary>li>a {
      color:#fff;
      margin: 0 11px;
    }    


    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
        margin-left: 10px;
        margin-right: 10px;
    }    

    .container_16 {
        margin: 0 auto;        
    }    

    .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.searchSection #SearchForm {
        margin:0!important;  
      @media (min-width: 701px) {
        margin: 0 135px 0 0!important;
      }      
    }



    li.searchSection {
      min-height: 40px;
      display: flex;
      position:relative;
      @media (max-width: 700px) {
        width:100%;
        :is(#searchControls, .loggedInSearch, .loggedInSearch > span) {
          width:100%!important;
        }
        > form {
          width:100%;
          position: absolute;
          left: -65px;
        }
      }
    }

    .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.searchSection #SearchForm #search #searchControls .loggedInSearch input, .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.searchSection #SearchForm #search #searchControls .loggedOutSearch input {
        width: 100%;
        border-color: #fff;
        border-width: 0;
        height: 33px;
        padding: .177em 0;
        text-indent: .33em;
        border-left: 1px solid #b3b3b3;
        border-top: 1px solid #b3b3b3;
        border-bottom: 1px solid #b3b3b3;
    }    

    #megaMenuHeader #navWrapper .navinner>ul.loggedIn>li ul.primary>li:after, #megaMenuHeader #navWrapper .navinner>ul.loggedIn>li>.editWebPartContainer ul.primary>li:after, #megaMenuHeader #navWrapper .navinner>ul.loggedIn ul.primary>li ul.primary>li:after {
      display: none;
    }

    .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li {
      height: auto;
      padding-top:0;
    }

    .basketDropdown {
      border-color: transparent;
      font-size:11px;
    }
    
  }

  @layer new {

    .text-color {
      color: transparent;
      background: linear-gradient(45deg, var(--color-brand-orange), var(--color-brand-yellow));
      background-clip: text;      
    }


    .hero--expanded {
      .card-picture {
          mask: linear-gradient(to bottom, transparent 0%, black 30%, black, transparent 90%);
          mask-position: center;
          mask-size: cover;        
        img {
          max-width: calc(var(--root-max-wrapper-width) * 1.5);
          mask: linear-gradient(90deg, transparent 0%, black 20%, black, transparent 80%);
        }
      }
    }

  :root {
    // --root-header-height: 73px;
    // --root-nav-height: 30px;
    --root-account-header-height: 32px;

    --root-nav-mt: var(--space-sm);
    --root-nav-height: 35px;
    --root-header-height: 138px;
    --root-header-mt: var(--space-xs);

    @media (min-width: 701px) {
      --root-header-height: 50px;
    }


  }

    html {
      font-size: var(--font-size-base-px, 16px);
    }

    #accountHeader {
      z-index:1;
    }

    #logo {
      color: white;
      display: flex;
      gap: var(--space-xs);
      &:before {
        content:'';
        display: block;
        width:17px;
        height:38px;
        background-image: url("data:image/svg+xml,%3Csvg width='61' height='135' viewBox='0 0 61 135' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.3534 54.0996C55.3423 54.0996 53.7117 55.4051 53.7117 57.0155V96.798C53.5735 97.5991 53.0813 98.4967 51.5048 98.4967H50.6133C50.0915 98.4048 49.432 98.0821 49.2214 97.0701V107.01L49.2219 107.011C49.4738 106.373 50.0502 105.8 51.3064 105.8V105.789H52.0949C52.7324 105.867 53.6577 106.262 53.6577 107.944H53.7112V117.359C53.7112 118.97 55.3418 120.275 57.3529 120.275C59.3644 120.275 60.995 118.97 60.995 117.359V57.0155C60.9955 55.4051 59.3649 54.0996 57.3534 54.0996Z' fill='%23CE6D6E'/%3E%3Cpath d='M45.5874 0C43.5763 0 41.9458 1.30554 41.9458 2.91589V26.9007C41.7729 27.5833 41.2679 28.2496 40.0709 28.3573H39.6195V28.3568L39.6144 28.3573H39.0355C38.4286 28.2848 37.5569 27.9254 37.4733 26.4376V37.0371C37.687 36.3325 38.247 35.6504 39.6159 35.6488H39.7725V35.6902C39.7725 35.6902 41.9259 35.2894 41.9259 37.8459H41.9458V132.081C41.9458 133.691 43.5763 134.997 45.5874 134.997C47.599 134.997 49.2296 133.691 49.2296 132.081V2.91589C49.2296 1.30503 47.599 0 45.5874 0Z' fill='%23F2AB70'/%3E%3Cpath d='M33.8219 12.1763C31.8104 12.1763 30.1798 13.7897 30.1798 15.7799V72.1086C29.9681 72.803 29.4193 73.4708 28.0881 73.4876H27.851V73.482C27.851 73.482 27.8214 73.4856 27.8076 73.4876H27.3241C26.6871 73.4289 25.6981 73.0669 25.6981 71.3264H25.6971V82.2037C25.9011 81.4945 26.4479 80.7955 27.8096 80.7792H28.0438V80.7853C28.0438 80.7853 28.0744 80.7817 28.0902 80.7792H28.5665C29.1816 80.8348 30.1155 81.1912 30.1798 82.7872V123.458C30.1798 125.448 31.8104 127.061 33.8219 127.061C35.8335 127.061 37.4641 125.448 37.4641 123.458V15.7799C37.4636 13.7897 35.833 12.1763 33.8219 12.1763Z' fill='%23F4DD6E'/%3E%3Cpath d='M22.0559 35.6191C20.0443 35.6191 18.4143 36.9247 18.4143 38.535V50.5734C18.2123 51.2718 17.6691 51.9489 16.3486 51.981H16.0681V51.9713C16.0681 51.9713 16.0329 51.9764 15.9941 51.981H15.5877C14.9787 51.9376 13.9969 51.6246 13.9203 50.0189V60.6807C14.1269 59.9833 14.6691 59.3001 15.9972 59.2731H16.264V59.2848C16.264 59.2848 16.2981 59.2787 16.3522 59.2731H16.724C17.3513 59.3119 18.4015 59.6381 18.4138 61.4124V104.975C18.4138 106.585 20.0443 107.891 22.0554 107.891C24.067 107.891 25.6976 106.585 25.6976 104.975V38.535C25.6981 36.9247 24.0675 35.6191 22.0559 35.6191Z' fill='%2360AFAB'/%3E%3Cpath d='M10.3409 45.7292C8.32937 45.7292 6.69879 47.0348 6.69879 48.6451V65.6284C6.47693 66.2809 5.93782 66.8829 4.71731 66.9273H2.77867C1.2506 66.9273 0 68.1787 0 69.7089V71.4377C0 72.9674 1.25009 74.2193 2.77867 74.2193H4.59184V74.2367C4.59184 74.2367 4.68212 74.2255 4.80299 74.2193H4.98865C5.55631 74.2392 6.53252 74.515 6.6993 75.9818V94.8649C6.6993 96.4753 8.32988 97.7808 10.3415 97.7808C12.353 97.7808 13.9836 96.4753 13.9836 94.8649V48.6451C13.9831 47.0353 12.3525 45.7292 10.3409 45.7292Z' fill='%236EA5C6'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }      
      @media (min-width: 701px) {
        &:before {
          width:20px;
          height:45px;
        }
      }
    }

    .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.logoSection #logo a.normal {
      background-image:none;
      background-color: var(--color-primary);
      mask: url("data:image/svg+xml,%3Csvg width='350' height='135' viewBox='0 0 350 135' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9772 128.708C17.9772 130.691 16.924 132.071 14.7925 132.071C12.6611 132.071 11.6079 130.691 11.6079 128.708V116.407H9.25101V128.708C9.25101 130.691 8.19728 132.071 6.06585 132.071C3.93441 132.071 2.88119 130.691 2.88119 128.708V116.407H0.524323V128.708C0.524323 132.248 3.08215 134.281 5.71494 134.281C7.72091 134.281 9.25101 133.754 10.4297 131.996C11.6084 133.754 13.138 134.281 15.1434 134.281C17.7773 134.281 20.3351 132.247 20.3351 128.708V116.407H17.9772V128.708Z' fill='black'/%3E%3Cpath d='M28.5619 121.679C25.2268 121.679 22.3181 124.24 22.3181 127.955C22.3181 131.67 25.2268 134.231 28.5619 134.231C31.897 134.231 34.8058 131.67 34.8058 127.955C34.8058 124.24 31.897 121.679 28.5619 121.679ZM28.5619 132.122C26.28 132.122 24.6245 130.415 24.6245 127.955C24.6245 125.495 26.28 123.787 28.5619 123.787C30.8438 123.787 32.4984 125.495 32.4984 127.955C32.4984 130.415 30.8438 132.122 28.5619 132.122Z' fill='black'/%3E%3Cpath d='M38.7948 123.311H38.7442V121.93H36.6378V133.979H38.8442V128.357C38.8442 125.093 40.0984 123.787 42.2298 123.787H42.5563V121.679H42.0544C40.5748 121.679 39.5471 122.131 38.7948 123.311Z' fill='black'/%3E%3Cpath d='M46.3932 116.407H44.1863V133.979H46.3932V116.407Z' fill='black'/%3E%3Cpath d='M58.8075 127.202C58.8075 130.516 57.0519 132.122 54.9455 132.122C52.5876 132.122 50.9331 130.39 50.9331 127.93C50.9331 125.445 52.5126 123.788 54.895 123.788C55.8982 123.788 57.1264 124.29 57.9292 124.842V122.533C56.876 121.93 55.7228 121.68 54.5191 121.68C51.4344 121.68 48.7261 124.291 48.7261 127.654C48.7261 131.219 51.0335 134.231 54.9455 134.231C58.481 134.231 61.0139 131.571 61.0139 127.604V116.408H58.8075V127.202Z' fill='black'/%3E%3Cpath d='M76.6883 129.612C76.6883 131.143 75.836 132.122 74.5313 132.122C73.1022 132.122 72.1744 131.319 72.1744 129.26V121.93H69.968V129.26C69.968 131.319 69.0403 132.122 67.6102 132.122C66.3065 132.122 65.4537 131.143 65.4537 129.612V121.93H63.2473V130.114C63.2473 132.374 65.1028 134.231 67.5607 134.231C68.9143 134.231 70.2684 133.679 71.0707 132.524C71.873 133.679 73.2272 134.231 74.5818 134.231C77.0397 134.231 78.8952 132.374 78.8952 130.114V121.93H76.6883V129.612Z' fill='black'/%3E%3Cpath d='M83.9145 120.524C84.6289 120.355 85.0713 119.639 84.9026 118.924C84.7339 118.208 84.018 117.766 83.3036 117.934C82.5892 118.103 82.1469 118.82 82.3155 119.535C82.4842 120.25 83.2001 120.693 83.9145 120.524Z' fill='black'/%3E%3Cpath d='M84.7147 121.93H82.5078V133.979H84.7147V121.93Z' fill='black'/%3E%3Cpath d='M97.8307 127.202C97.8307 130.516 96.0752 132.122 93.9687 132.122C91.6108 132.122 89.9563 130.39 89.9563 127.93C89.9563 125.445 91.5359 123.788 93.9182 123.788C94.9215 123.788 96.1496 124.29 96.9524 124.842V122.533C95.8992 121.93 94.746 121.68 93.5423 121.68C90.4576 121.68 87.7494 124.291 87.7494 127.654C87.7494 131.219 90.0568 134.231 93.9687 134.231C97.5043 134.231 100.037 131.571 100.037 127.604V116.408H97.8307V127.202Z' fill='black'/%3E%3Cpath d='M108.039 132.122C105.757 132.122 104.101 130.415 104.101 127.955C104.101 125.495 105.757 123.787 108.039 123.787C109.393 123.787 110.02 124.189 110.772 124.942L104.829 128.256L105.732 130.013L113.857 125.495C112.728 123.16 110.848 121.679 108.039 121.679C104.704 121.679 101.795 124.239 101.795 127.955C101.795 131.67 104.704 134.23 108.039 134.23C111.5 134.23 114.057 131.82 114.308 128.632L112.077 128.356C111.625 130.566 110.646 132.122 108.039 132.122Z' fill='black'/%3E%3Cpath d='M137.481 116.106C136.454 116.106 135.801 116.482 135.299 118.164L131.739 129.988H131.688L128.128 118.164C127.626 116.483 126.975 116.106 125.946 116.106C125.018 116.106 124.141 116.759 123.99 117.964L121.959 133.979H124.417L126.096 119.721H126.147L129.908 131.971C130.435 133.703 130.836 133.979 131.688 133.979H131.739C132.592 133.979 132.992 133.703 133.519 131.971L137.28 119.721H137.331L139.011 133.979H141.469L139.437 117.964C139.286 116.759 138.409 116.106 137.481 116.106Z' fill='black'/%3E%3Cpath d='M148.467 132.122C146.185 132.122 144.529 130.415 144.529 127.955C144.529 125.495 146.185 123.787 148.467 123.787C149.821 123.787 150.448 124.189 151.2 124.942L145.257 128.256L146.16 130.013L154.284 125.495C153.156 123.16 151.276 121.679 148.467 121.679C145.132 121.679 142.223 124.239 142.223 127.955C142.223 131.67 145.132 134.23 148.467 134.23C151.928 134.23 154.485 131.82 154.736 128.632L152.504 128.356C152.053 130.566 151.075 132.122 148.467 132.122Z' fill='black'/%3E%3Cpath d='M166.148 127.202C166.148 130.516 164.392 132.122 162.286 132.122C159.928 132.122 158.273 130.39 158.273 127.93C158.273 125.445 159.853 123.788 162.235 123.788C163.239 123.788 164.467 124.29 165.269 124.842V122.533C164.216 121.93 163.063 121.68 161.859 121.68C158.775 121.68 156.066 124.291 156.066 127.654C156.066 131.219 158.374 134.231 162.286 134.231C165.821 134.231 168.354 131.571 168.354 127.604V116.408H166.148V127.202Z' fill='black'/%3E%3Cpath d='M172.845 117.914C171.992 117.914 171.515 118.566 171.515 119.244C171.515 119.922 171.992 120.575 172.845 120.575C173.697 120.575 174.174 119.922 174.174 119.244C174.174 118.566 173.697 117.914 172.845 117.914Z' fill='black'/%3E%3Cpath d='M173.948 121.93H171.741V133.979H173.948V121.93Z' fill='black'/%3E%3Cpath d='M32.2602 101.83H47.5184V89.0279H34.2947C20.0535 89.0279 13.6597 81.3177 13.6597 65.6068V0H0V68.9531C0 88.1554 12.6427 101.83 32.2602 101.83Z' fill='black'/%3E%3Cpath d='M189.488 82.3364C189.488 57.3157 145.311 62.4071 145.457 50.3325C145.603 45.9687 147.491 44.2225 153.74 44.2225H186V32.0034H155.92C140.661 32.0034 132.088 38.5495 132.088 50.9146C132.088 75.0628 176.118 70.1168 176.118 82.9185C176.118 87.2823 173.793 89.6101 167.835 89.6101H132.088V101.83H167.835C180.188 101.83 189.488 95.5741 189.488 82.3364Z' fill='black'/%3E%3Cpath d='M313.727 30.5488C294.4 30.5488 277.543 45.3866 277.543 66.9166C277.543 88.4465 294.4 103.285 313.727 103.285C333.054 103.285 349.911 88.447 349.911 66.9166C349.911 45.3866 333.054 30.5488 313.727 30.5488ZM313.727 91.0647C300.504 91.0647 290.913 81.1728 290.913 66.9166C290.913 52.6608 300.504 42.7689 313.727 42.7689C326.951 42.7689 336.542 52.6608 336.542 66.9166C336.542 81.1723 326.951 91.0647 313.727 91.0647Z' fill='black'/%3E%3Cpath d='M254.73 37.9241C249.127 33.3851 241.848 30.5488 233.224 30.5488C211.426 30.5488 197.185 46.8418 197.185 67.7891C197.185 88.1555 212.88 103.284 233.224 103.284C238.02 103.284 244.849 101.248 249.645 98.6294V85.3912C244.704 88.3005 239.182 91.0647 233.369 91.0647C220.146 91.0647 209.973 82.1914 209.973 68.5172C209.973 54.843 217.385 42.7689 232.643 42.7689C244.512 42.7689 254.651 52.2957 254.73 67.8974V76.1187V85.2983H254.731V100.666C254.731 117.686 241.943 122.778 230.463 122.778C223.924 122.778 217.53 121.032 211.136 119.286L208.084 130.924C215.495 133.397 223.197 134.998 231.045 134.998C251.534 134.998 267.519 122.488 267.519 96.3022V85.2983H267.519V32.0035H254.73V37.9241Z' fill='black'/%3E%3Cpath d='M109.42 36.9274C103.603 32.8224 96.0043 30.5488 87.0425 30.5488C64.6637 30.5488 51.0039 46.2597 51.0039 66.189C51.0039 86.7003 65.2451 103.284 85.2986 103.284C94.163 103.284 99.1037 100.375 104.19 96.5927V81.4639C99.8311 86.9919 93.8728 91.0652 86.6069 91.0652C73.2374 91.0652 63.7925 80.1548 63.7925 67.2081C63.7925 53.9704 72.6569 42.7694 86.7527 42.7694C98.3193 42.7694 109.311 49.3941 109.421 62.3571V76.1192V85.2988H109.422V101.831H122.21V85.2988V63.7163V32.0035H109.421V36.9274H109.42Z' fill='black'/%3E%3Cpath d='M187.063 122.782C186.06 122.073 184.749 121.679 183.202 121.679C179.34 121.679 176.983 124.39 176.983 127.83C176.983 127.834 176.983 127.838 176.983 127.842C176.983 127.846 176.983 127.851 176.983 127.855C176.983 131.394 179.44 134.256 182.901 134.256C184.43 134.256 185.283 133.754 186.161 133.101V133.076C186.161 133.076 186.162 133.076 186.162 133.076V130.465C185.409 131.419 184.381 132.122 183.127 132.122C180.821 132.122 179.193 130.242 179.19 128.011C179.199 125.735 180.727 123.813 183.152 123.813C185.155 123.813 187.059 124.965 187.063 127.219V129.569V131.152V134.005H189.27V133.979V131.152V127.428V127.403V121.956H187.063V122.782Z' fill='black'/%3E%3C/svg%3E%0A");            
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      width: 100px;
      padding:0;
      @media (min-width: 701px) {
        width: 110px;
      }
    }    


  #megaMenuHeader #navWrapper .navinner>ul.loggedIn .advancedSearchNavigation #advancedSearch {
    font-size: var(--text-sm);
    font-weight: 600;    
  }


  #outerWrap {
    display: flex;
    flex-direction: column;
  }
    
    .stickyHeader {
        display: contents;
    }  

    .bar-inner > ul.loggedIn {
      padding-inline: var(--wrapper-inline);
      // max-width: var(--root-max-wrapper-width);
      margin-inline: auto;
      margin-top: var(--root-header-mt);
      row-gap: var(--space-xs);
      column-gap: var(--space-xs);
    }

    #megaMenuHeader {
      padding-inline: var(--wrapper-inline);
      // max-width: var(--root-max-wrapper-width);
      margin-inline:auto;
      margin-top: var(--root-nav-mt);
    }

    .navMenu {
      display: flex;
      align-items: center;
    }

  :is(
      #mainHeader,
      #accountHeader,
      #footer,
      #sticky-wrapper.sticky-wrapper,
      #sticky-wrapper.sticky-wrapper.is-sticky
    ) {
    min-width: auto;
  }


  .sticky-wrapper {
    height: max-content !important;
    z-index: 2;
    /* position: relative; */
    position: sticky;
    top:0;
    margin-inline: auto;
    max-width: calc(100% - (clamp(0.25rem, 1vi, 1rem) * 2));
  }

  .sticky-wrapper.is-sticky .stickyHeader {
      left: 50%;
      transform: translateX(-50%);
  }  

  #outerWrap:has(.hero) {
    #breadcrumb {
      display: none;
      margin-top: 0;
    }
  }

  .hero--expanded {
    --hero-expanded-outer-margin: clamp(0.25rem, 1vi, 1rem);
    // --hero-expanded-outer-margin: 4px;
    --hero-height: clamp(520px, calc(95dvh - (var(--header-height) + 50px)), 1000px);
    --hero-height-expanded: calc(var(--header-height) + var(--hero-height));
    .card-body {
      margin-top: calc(var(--root-header-height) + var(--root-nav-height));
    }    
  }

    ul.loggedIn {
      width:100%;
      display: flex;
      justify-content: space-between;
      align-items: center;      
    }  


    .barinner > ul.loggedin {
      height:var(--root-header-height);
    }
    .navinner > ul.loggedIn {
      height:var(--root-nav-height);
    }

    .hamburgerSection {
      aspect-ratio: 1/1;
      background:var(--color-light);
      // position: absolute;
      left: var(--wrapper-inline);
      width: calc(48 / var(--font-size-base-px) * 1rem);
      z-index: 3;      
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='48' d='M88 152h336M88 256h336M88 360h336'/%3E%3C/svg%3E");
      mask-size: 32px;
      mask-repeat: no-repeat;
      mask-position: center;      
    }

    .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.basketSection .basketWrapper ul#basketNavigation li.basketDropDownMenu .basketDropdown, .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.basketSection .basketWrapper ul#basketNavigation li.basketDropDownMenu .basketDropDownActive {
      background-position: left;
      padding-left: 1.25rem;    
    }

    #searchControls button[type=submit] {
      border-radius: 0 var(--radius) var(--radius) 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='black' d='M456.69 421.39L362.6 327.3a173.8 173.8 0 0 0 34.84-104.58C397.44 126.38 319.06 48 222.72 48S48 126.38 48 222.72s78.38 174.72 174.72 174.72A173.8 173.8 0 0 0 327.3 362.6l94.09 94.09a25 25 0 0 0 35.3-35.3M97.92 222.72a124.8 124.8 0 1 1 124.8 124.8a124.95 124.95 0 0 1-124.8-124.8'/%3E%3C/svg%3E");
      background-size: 24px;
    }

    .mainBasketHeader {
      color: var(--color-primary);
    }


    body.hero-solid-bg:not(.hero-not-in-view) {

      

      #outerWrap:has(.hero--expanded) {


        .sticky-wrapper {
            background: oklch(from color-mix(in oklab, var(--color-primary), var(--color-dark) 70%) l c h / 0.875);
            backdrop-filter: blur(10px);          
        }      

      }

    }



    body:not(.hero-not-in-view) {

      

      #outerWrap:has(.hero--expanded) {     

        .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.logoSection #logo a.normal {
          background-color:white;
        }        

        #megaMenuHeader {
          background-color: transparent;
        }


        #megaMenuHeader #navWrapper .navinner>ul.loggedIn ul.primary>li>a {
          color:#fff;
        }        

        .mainBasketHeader {
          color: var(--color-light);
        }        

        .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.basketSection .basketWrapper ul#basketNavigation li.basketDropDownMenu .basketDropdown, .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.basketSection .basketWrapper ul#basketNavigation li.basketDropDownMenu .basketDropDownActive {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='m320 120l48 48l-48 48'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M352 168H144a80.24 80.24 0 0 0-80 80v16m128 128l-48-48l48-48'/%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M160 344h208a80.24 80.24 0 0 0 80-80v-16'/%3E%3C/svg%3E");      
        }

      #searchControls button[type=submit] {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M456.69 421.39L362.6 327.3a173.8 173.8 0 0 0 34.84-104.58C397.44 126.38 319.06 48 222.72 48S48 126.38 48 222.72s78.38 174.72 174.72 174.72A173.8 173.8 0 0 0 327.3 362.6l94.09 94.09a25 25 0 0 0 35.3-35.3M97.92 222.72a124.8 124.8 0 1 1 124.8 124.8a124.95 124.95 0 0 1-124.8-124.8'/%3E%3C/svg%3E");
        }        

        .bar-inner>ul>li.basketSection .basketWrapper ul#basketNavigation li.basketDropDownMenu .basketDropdown {
          color: var(--color-light);
        }

        #searchControls {
          --input-color: color-mix(in oklab, var(--root-bg), transparent 40%);
          --input-bg: color-mix(in oklab, var(--root-bg), transparent 90%);    
        }        

        @media (max-width: 700px) {

          @supports (anchor-name: --my-anchor) {

            .advancedSearchNavigation > a {
                background: var(--color-light);
            }
          }
        }



      }





    }



  @media (min-width: 701px) {

    #megaMenuHeader {    
      background-color: var(--color-primary);
    }

  }    

  #outerWrap:has(.hero--expanded) {

    .hero--expanded {  
      --heading-3xl-font-size-max: var(--display-2xl-px);    
      margin-inline: var(--hero-expanded-outer-margin);
      // margin-top: calc(-1 * (var(--root-header-height) + var(--root-account-header-height) + var(--hero-expanded-outer-margin)));
      margin-top: calc(-1 * (var(--root-nav-mt) + var(--root-header-height) + var(--root-nav-height) + var(--root-header-mt)));

      .card {
        overflow: clip;
      }
    }

    // &:has(.is-sticky) {
    //   .hero {
    //     margin-top: 0;
    //   }
    // }

    .stickyHeader {
      :is(
          #barHeader,
          [class^="container"],
          [class^="grid"],
          #bar-Wrapper
        ) {
        display: contents;
      }
      ul.loggedIn {
        width: fit-content;
        grid-column: 1/1;
        grid-row: 1/1;
      }
      #megaMenuHeader {
        width: 100%;
        grid-column: 2/2;
        grid-row: 1/1;
        align-self: end;
        :is([class^="container"], [class^="grid"]) {
          width: 100%;
        }
        ul.primary a {
          font-size: var(--text-sm);
          font-weight:600;
          text-wrap: nowrap;
          text-align: left;
        }
      }
      /*     Hide loggedin elements  */
      /* :is(.searchSection, .basketSection) {
        display: none;
      } */
    }
  }




  select#productType {
    border-radius: var(--radius) 0 0 var(--radius);
  }

  .loggedInSearch {
    background-color: transparent !important;
  }

  .headerMenuRight {
    display: flex;;
  }

  .headerMenuOptionsWrap {
    font-size: var(--text-sm);
    display: flex;
    align-items: center;
    .messages {
      display: flex;
      padding: 0;
      align-items: center;
    }
    .messageHeader  {
      display: flex;;
    }
    .icon-envelopeLarge {
      top:0;
      left:0;
      align-self: center;
    }
  }

  #searchControls {
    display: flex;
    align-items: stretch;
    --input-color: color-mix(in oklab, var(--root-fg), transparent 40%);
    --input-bg: color-mix(in oklab, var(--root-fg), transparent 90%);    
    --input-fs: var(--text-sm);
    span.k-widget {
      width: 100%!important;
      background-color: transparent !important;
    }
    span.k-state-default {
      background-image: none!important; 
    }
    input[type="text"] {
      font-size: var(--input-fs)!important;
      box-sizing: border-box!important;
      height:100%!important;
      color: var(--input-color)!important;
      background-color: var(--input-bg)!important;
      padding-inline: var(--text-frame-x)!important;
    }
    .clearable {
      height:auto!important;
    }
  }

  .basketDropDownMenu {
    display: flex;
    justify-content: flex-end;
  }

  html.authenticated #outerWrap:has(.hero--expanded) {
    .stickyHeader {
      grid-template-rows: 1fr 1fr;
      row-gap: var(--space-md); 
    }
    #megaMenuHeader {
      grid-column: 1/-1;
      grid-row: 2/2;
    }
    ul.loggedIn {
      width:100%;
    }
  }

  .categoryContainer {
    .categories {
      h5 {
        --heading-sm-font-size-min: var(--sm-px);
        --heading-sm-font-size-max: var(--sm-px);            
      }
    }
  }  

  @media (min-width: 701px) {

      .hamburgerSection {
        display: none;
      }   

  }

    @media (max-width: 700px) {

      #megaMenuHeader {
        ul.primary a {
          text-align: left;
          margin-inline: 0;
          padding-inline: var(--layout-gap);
          padding-block: var(--space-sm);          
        }
      }       

      .searchSection #search {
        display: flex;
        max-width: calc(100% - 48px);
      }

      .searchSection #searchControls {
        display: contents;
      }

      #searchControls .loggedInSearch {
        flex: 1 1 auto;
        display: flex;
        > span {
          flex: 1 1 auto;
        }
      }   

      .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.searchSection #SearchForm #search #searchControls .productSelect {
        width:15%;
      }

      .stickyHeader #barHeader #bar-Wrapper .bar-inner>ul>li.searchSection #SearchForm #search #searchControls .productSelect select {
        width:100%;
        text-overflow: ellipsis;
      }


      .advancedSearchNavigation > a {
        display: none;
      }

      @supports (anchor-name: --my-anchor) {

        #searchControls button[type=submit] {
          anchor-name: --search-btn;
        }

        .advancedSearchNavigation > a {
            display: block;
            position: fixed;
            top: anchor(top);
            position-anchor: --search-btn;
            left: calc(anchor(right) + 0.5rem);
            width: 38px;
            height: 38px;
            overflow: clip;        
            text-indent: -9999px;
            mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M381.25 112a48 48 0 0 0-90.5 0H48v32h242.75a48 48 0 0 0 90.5 0H464v-32ZM176 208a48.09 48.09 0 0 0-45.25 32H48v32h82.75a48 48 0 0 0 90.5 0H464v-32H221.25A48.09 48.09 0 0 0 176 208m160 128a48.09 48.09 0 0 0-45.25 32H48v32h242.75a48 48 0 0 0 90.5 0H464v-32h-82.75A48.09 48.09 0 0 0 336 336'/%3E%3C/svg%3E");
            mask-size: 28px;
            mask-repeat: no-repeat;
            mask-position: center;            
        }
      }

      .basketWrapper {
        width:auto;
      }

      .hamburgerSection {
        order:0;
      }

      .logoSection {
        order:1;
        margin-inline: 0 auto;
      }

      .basketSection {
        order:2;
      }

      .searchSection {
        order:3;
      }

      .mainBasketHeader {
        font-size: var(--text-base);
      }


      ul.loggedIn {
        flex-wrap: wrap;
        justify-content: center;
      }      

      :is(#megaMenuHeader #navWrapper, #navMenu) {
        height:auto;
      }

      .categoryContainer .categoryColumn {
        all: unset;
        .categories {
          padding-bottom:0;
        }
        .group-link {
          width:100%;
          a {
            display: block;
            padding-block:var(--space-xs);
          }
        }
      }
      .navMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        align-items: self-start;
        padding-top: 11rem;
        width: 100%;
        overflow: auto;
        background: var(--color-grey-7);
        transform: translateX(var(--nav-translate-x));
        transition: transform 0.3s ease-in-out;
        > ul {
          display: flex;
          flex-direction: column;
          width:100%;
          > li {
            all:unset;
            display: flex;
            flex-direction: column;
          }          
        }
      }

      #megaMenuHeader {
        position: relative;
        z-index: 1;
      }

      #megaMenuHeader #navWrapper .navinner>ul.loggedIn>li ul.primary .megaMenu, #megaMenuHeader #navWrapper .navinner>ul.loggedIn>li>.editWebPartContainer ul.primary .megaMenu, #megaMenuHeader #navWrapper .navinner>ul.loggedIn ul.primary>li ul.primary .megaMenu {
        position:relative;
        top:0;
        left:0;
      }

      #outerWrap {
        --nav-translate-x: -100%;
        &.nav-open {
          --nav-translate-x: 0%;
        }
      }

    }  


  }
}