@use "sass:meta";
@use "sass:map";
@use "small-style/scss/base/variables/components/typography/headings" as
  headings;
@use "small-style/scss/base/mixins/rules/components/typography/_headings" as *;
@use "small-style/scss/theme/_index" as *;
@use "small-style/scss/base/mixins/rules/components/flow" as *;

@layer new {
  .grid_16.product {
    width: 100% !important;
    margin: 0 !important;
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    .productInfo {
      display: flex;
      flex-basis: max(calc(100% - 230px), min(500px, 100%));
      max-width: 1040px;
      width: 100% !important;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .imageBlockWrap {
      width: min(clamp(220px, 30vw, 440px), 100%) !important;
      margin-right: auto !important;
      margin-left: auto;
    }

    .productContentWrap {
      width: auto !important;
      min-width: min(270px, 100%);
      margin-left: 0 !important;
      max-width: calc(100% - (440px + 2rem));
    }

    .productContentWrap .titleContributor > h1 {
      @include output-fluid-heading-props("default");
    }

    .productContentWrap .titleContributor > h2 {
      @include output-fluid-heading-props("xs");
    }

    .productContentWrap .productData > ul {
      > li + li {
        @include flow();
        --flow-space: var(--spacing-sm);
      }
    }

    .purchaseBlock {
      width: min(220px, 100%);
    }

    .productImageWrapper {
      > img {
        max-width: 100% !important;
        width: 100%;
      }
    }
  }

  .container_16:has(.product) {
    width: min(calc(100% - 2rem), 1280px) !important;
    margin-inline: auto;
  }

  .productData > ul {
    display: grid;
    grid-template-columns: 120px minmax(0, 1fr);
    > li {
      grid-column: span 2;
      display: grid;
      grid-template-columns: subgrid;
    }
    .listItem {
      display: grid;
      grid-template-columns: subgrid;
      > ul {
        display: contents;
      }
      > ul > li {
        grid-row: 1/-1;
        &:nth-child(1) {
          grid-column: 1/1;
        }
        &:nth-child(2) {
          grid-column: 2/2;
        }
      }
    }
  }
}
