@property --card-backdrop-color-stop-from-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.7;
}

@property --card-backdrop-color-stop-to-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.7;
}

.card-body__content__caption-subtitle {
  -webkit-line-clamp: var(--line-clamp, 3);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

:where(.card) {
  overflow: clip;
}

.card-body__content__ctas.\*\:contents .button__text {
  display: none;
}

.card-picture--contain {
  object-fit: contain;
}

.card-picture--cover {
  object-fit: cover;
}

.aspect-dvd {
  --card-picture-aspect: 14/20;
}

.card--featured {
  .card-picture[class*="contain"] {
    padding-block: var(--card-body-padding-block);
  }
}

.featured-products .card:not(:has(.card-picture)) {
  --card-background-color: var(--color-grey-11);
}

@layer modifiers {

  .card .fluid {
    --font-size: min(var(--font-size-max, var(--font-size-base-px)), calc(var(--font-size-min, var(--sm-px)) + var(--font-fluid-cq-variance, 3cqw)));
  }  

  :where(
    .card-body__content__ctas:has(.button:empty),
    .card-body__content__ctas .button:empty
  ) {
    display: contents;
  }

  .card-body {
    --card-body-padding-inline: clamp(
      var(--space-sm),
      min(6vmax, 6cqi),
      var(--space-lg)
    );
    --card-body-padding-block: clamp(
      var(--space-sm),
      min(6vmax, 6cqi),
      var(--space-lg)
    );
  }
}

:is(.card:has(.overlay-expand), .overlay-expand) {
  --overlay-contracted-size: 3.5em;
  .card-picture {
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.2s ease-in-out;
    img {
      transition: scale 0.3s ease-in-out;
    }
  }
  &:is(:hover) {
    /* .card-picture {
            transition-delay: 0.1s;            
        } */
  }
}

.overlay-expand {
  &:before {
    transition:
      clip-path 0.3s ease-in-out,
      background 0.3s ease-in-out;
    content: "";
    clip-path: inset(
      calc(100% - var(--overlay-contracted-size))
        calc(100% - var(--overlay-contracted-size)) 0 0
    );
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    z-index: -1;
    /* mask: linear-gradient(to right, black 0%, black 80%); */
  }
  &:hover {
    &:before {
      background: color-mix(in oklch, var(--color-primary) 100%, transparent);
      clip-path: inset(0 0 0 0);
      /* mask: linear-gradient(to right, transparent 0%, black 80%); */
    }
  }
}

.card:has(.overlay-expand) {
  &:hover {
    .card-picture {
      clip-path: inset(0 0 calc(var(--overlay-contracted-size)) 0);
      img {
        scale: 1.1;
      }
    }
  }
}