@include layout-rules();

:where(input, textarea, select):not([class*="k-"]):not(#productType),
*:not([class*="k-"]) > :is(input, textarea, select):not([class*="k-"]):not(#productType) {
    @include input-textarea-select-rules();   
    border: 0;
}

:where(input):not([class*="k-"]):is(#{$input-text-selectors}),
*:not([class*="k-"]) > input:is(#{$input-text-selectors}):not([class*="k-"]) {
    @include input-text-rules();
    padding-block-end: calc(var(--text-frame-y) / 0.75);
    @layer modifiers {
      @include form-element-states();
    }
}

:where(input):not([class*="k-"]):is([type="radio"], [type="checkbox"]),
*:not([class*="k-"]) > input:is([type="radio"], [type="checkbox"]):not([class*="k-"]) {
    @include input-box-rules();
}

:where(textarea, select):not([class*="k-"]):not(#productType),
*:not([class*="k-"]) > :is(textarea, select):not(#productType) {
    @include textarea-select-rules();
    @include input-base-rules();
    @include input-text-rules();    
}

:where(select):not([class*="k-"]):not(#productType),
*:not([class*="k-"]) > :is(select):not(#productType) {
  border:none;  
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.58 8.59009L12 13.1701L7.41 8.59009L6 10.0001L12 16.0001L18 10.0001L16.58 8.59009Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center right var(--space-xs);
  background-size: 1.2rem;
}

// :root:is(.new) :where(input, textarea) {
//   border: 0;
// }

:root:is(.new) {
  :where(.button) {
    text-decoration: none;
  }
}

.form__row--label-overlay {
  @include form-row-label-overlay-rules();
  // --text-frame-y: var(--input-fs);
  // --text-frame-x: calc(var(--text-frame-y) * var(--text-frame-ratio));
  // --label-fs: var(--text-xs);
  // --input-text-frame-y: calc(var(--text-frame-y) + var(--label-fs));
  // --input-fs: var(--font-size-base);
  // grid-template-rows: calc(var(--label-fs) + var(--space-3xs)) 1fr;
  // > * {
  //   grid-column: 1/-1;
  // }
  // label {
  //   z-index: 1;
  //   margin-left: var(--text-frame-x);
  //   margin-block-start: var(--space-3xs);
  //   grid-row: 2/-1;
  //   align-self: start;
  //   font-size: var(--label-fs);
  //   padding-block-start: 0;
  //   + :is(input, textarea, select) {
  //     grid-row: 2/-1;
  //   }
  // }
  // :is(input, textarea) {
  //   grid-row: 2/-1;
  //   padding-block-end: var(--text-frame-y);
  //   &:not(:focus, :focus-within) {
  //     &::placeholder {
  //       color: transparent;
  //     }
  //   }
  // }
  // &:has(input:is(:focus, :focus-within)) label {
  //   opacity: 0.5;
  // }
}