// underline animation
@property --underline-progress {
  syntax: "<length>";
  inherits: false;
  initial-value: 12px;
}

@keyframes underlineGrow {
  from {
    --underline-progress: 12px;
  }
  to {
    --underline-progress: 160px;
  }
}

:where(.heading--underline) {
  --heading-underline-block-start: 0.25em;
  --heading-underline-color: var(--color-brand-orange);
  --heading-underline-border-radius: var(--radius);
  animation: underlineGrow forwards;
  animation-timeline: view();
  animation-range: 25% 50%;
  animation-timing-function: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );
  --heading-underline-width: min(
    var(--underline-progress, 0px),
    calc(100% - 2rem)
  );
}

.heading > span:last-of-type:not(:only-of-type) {
  margin-block-start: 0.2em;
  display: block;
}

.line-across {
  display: flex;
  place-items: center;
  column-gap: 1em;
}

:where(.line-under:is(.heading--underline):has(> span:only-of-type))
  > span:after {
  all: unset;
}

.line-across:before,
.line-across:after,
.line-under:has(> span:only-of-type) > span:after {
  content: "";
  display: block;
  border-top: 1px solid var(--field-border-color, inherit);
  flex-grow: 1;
  transform: translateY(-1px);
}

.line-under:after,
.line-under:is(.heading--underline):has(> span:only-of-type) > span:after {
  margin: 0;
}

.line-across:is(.heading--underline):has(> span:only-of-type) {
  place-items: start;
}

.line-across:is(.heading--underline):has(> span:only-of-type):before,
.line-across:is(.heading--underline):has(> span:only-of-type):after {
  margin-top: 1ch;
}

[class*="heading-"]:has(.line-across),
[class*="heading-"].line-across {
  text-align: center;
  --heading-underline-margin-inline: auto;
  span:after {
    margin-inline: auto;
  }
}

/* Expose as custom props */
:is(.heading-xs, .heading-sm) {
  --text-transform: none;
  --font-weight: 700;
}

.line-across:before,
.line-across:after,
.line-under:has(> span:only-of-type) > span:after {
  margin-top: 0.5em;
}

.heading-3xl.fluid-cq {
  --heading-3xl-font-size-min: var(--display-sm);
  --heading-3xl-font-size-max: var(--display-lg);
  --heading-3xl-font-fluid-cq-variance: 4cqi;
}

@each $key, $value in $heading-sizes {
  .heading-#{$key}.fluid-cq {
    --heading-#{$key}-font-size-min: var(--#{map-get($value, "font-size-min")});
    --heading-#{$key}-font-size-max: var(--#{map-get($value, "font-size-max")});
    --heading-#{$key}-font-fluid-cq-variance: #{map-get($value, "font-fluid-cq-variance")};
  }
  // @debug "Processing heading size: #{$key}";
  // @debug "Font size min: #{map-get($value, 'font-size-min')}";
  // @debug "Font size max: #{map-get($value, 'font-size-max')}";
}

.heading-sm.fluid-cq {
  --heading-sm-font-size-min: var(--sm);
}

.heading-xs.fluid-cq {
  --font-size-min: var(--xs);
}
