@import "small-style/scss/extra/rules/components/carousel-3D";

#{$scene} {
    width:100vw;
    margin-inline: calc(-50vw + 50%);
    min-height: 70vh;
    perspective: 50em;
}

#{$card} {
    transform: rotatey(calc(var(--i) * var(--ba))) translatez(calc(-1 * (0.875 * var(--w) + 0.875em) / tan(0.65 * var(--ba))));    
}

#{$card} > div {
    height:100%;
}

#{$card} .card {
    display: flex;
}