
.lasgo-artwork {
  // animation: artwork-in linear both;
  // animation-timeline: view();
  // animation-range: 0% 50%;
  --track-size: min(1.5cqmin, 0.85rem);
  --spring-easing: linear(0, 0.0018, 0.0069 1.16%, 0.0262 2.32%, 0.0642, 0.1143 5.23%, 0.2244 7.84%, 0.5881 15.68%, 0.6933, 0.7839, 0.8591, 0.9191 26.13%, 0.9693, 1.0044 31.93%, 1.0234, 1.0358 36.58%, 1.0434 39.19%, 1.046 42.39%, 1.0446 44.71%, 1.0404 47.61%, 1.0118 61.84%, 1.0028 69.39%, 0.9981 80.42%, 0.9991 99.87%);  
  display: grid;
  place-content: center;
}

:is(
    .lasgo-artwork > svg,
    .globe-logo,
    .globe-container,
    .axis,
    .books,
    .cd,
    .record,
    .tee
  ) {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.lasgo-artwork > svg {
  width: 100cqmin;
  /* border: 1px solid red; */
}

:is(.books, .cd, .record, .tee) {
  width: 20cqmin;
  aspect-ratio: 1/1;
  svg {
    width: 100%;
    height: 100%;
  }
}


:is(.books, .cd, .tee) {
  svg {
    animation: item-timeline var(--spring-easing) both;
    animation-timeline: view();
    animation-range: 0% 35%;      
  }
}

:is(.record) {
    animation: item-timeline var(--spring-easing) both;
    animation-timeline: view();
    animation-range: 0% 85%;   
}

.books {
  margin-left: 5cqmin;
  margin-top: 5cqmin;
}

@keyframes cd {
  to {
    transform: rotateZ(-14deg) skew(-6deg, 0deg);
  }
}

@keyframes item-timeline {
  to {
    transform: translate(0%, 0%);
    scale:1;
  }
}

.cd {
  animation: cd 3500ms ease-in-out 0s infinite alternate both;
  justify-self: start;
  align-self: end;
  margin-left: 5cqmin;
  margin-bottom: 5cqmin;
  display: grid;
  place-items: center;
  svg {
    width: 65%;
    height: 65%;
    // timeline animation
    transform: translate(calc(25vmin - 25%), -60%);  
  }
}

.record {
  justify-self: end;
  align-self: start;
  background: transparent;
  margin-right: 5cqmin;
  margin-top: 5cqmin;
  /// animation timeline
  transform: translate(-35cqmin, 18cqmin);
}

.tee {
  position: relative;
  display: grid;
  place-items: center;
  perspective: 900px;
  justify-self: end;
  align-self: end;
  background: transparent;
  margin-right: 5cqmin;
  margin-bottom: 5cqmin;
  z-index: -1;
  svg {
    /// animation timline
    transform: translate(-35cqmin, -10vmin) scale(0.65);    
  }
}

.globe-logo {
  align-self: center;
  justify-self: center;
  z-index: 3;
  background: white;
  width: max(15%, 150px);
  display: grid;
  place-content: center;
  padding: 1rem;
  border-radius: 3rem;
  border: calc(var(--track-size) / 2) solid transparent;
  background: linear-gradient(to right, white, white) padding-box, conic-gradient(from 45deg in oklch shorter hue, #ce6d6e, var(--color-primary), var(--color-secondary), var(--color-tertiary), var(--color-brand-orange), var(--color-brand-yellow), #ce6d6e) border-box;
}

@keyframes globe-scale {
  to {
    scale: 0.8;
  }
}

.globe-container {
  animation: globe-scale 18s ease-in-out 0s infinite alternate both;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: clip;
  border-radius: 50%;
  rotate: 20deg;
  align-self: center;
  justify-self: center;
  scale: 0.6;
  background: white;
}

.axis {
  width: 50cqmin;
  aspect-ratio: 1/1;
  border: var(--track-size) solid #0f646b;
  border-radius: 50%;
  z-index: -1;
  /* mix-blend-mode: screen; */
}

div:nth-child(2 of .axis) {
  aspect-ratio: none;
  height: 25cqmin;
  transform: translateY(-25cqmin);
}
div:nth-child(3 of .axis) {
  aspect-ratio: none;
  height: 25cqmin;
  transform: translateY(25cqmin);
}
div:nth-child(4 of .axis) {
  aspect-ratio: none;
  width: 10cqmin;
  height: calc(100% - (var(--track-size) * 0));
}
div:nth-child(5 of .axis) {
  aspect-ratio: none;
  width: 35cqmin;
  height: calc(100% - (var(--track-size) * 0));
}

@property --angle-x {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --angle-y {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.orb {
  width: var(--track-size);
  aspect-ratio: 1/1;
  position: absolute;
  background: #6ea5c6;
  border-radius: 50%;
  left: calc(50% - (var(--track-size) / 2));
  --radius-x: calc(25cqmin - (var(--track-size) / 2));
  --radius-y: calc(25cqmin - (var(--track-size) / 2));
  transform: translateX(calc(cos(var(--angle-x)) * var(--radius-x)))
    translateY(calc(sin(var(--angle-y)) * var(--radius-y)));
}

@keyframes orb-one {
  0% {
    opacity: 1;
    --angle-x: 88deg;
    --angle-y: -90deg;
    scale: 1;
  }
  5% {
    --angle-x: 77deg;
    scale: 1.2;
  }
  10% {
    opacity: 1;
    --angle-x: 88deg;
    --angle-y: 90deg;
    scale: 1;
  }
  11% {
    opacity: 0;
  }
  75% {
  }
  100% {
    opacity: 0;
    --angle-x: 88deg;
    --angle-y: 90deg;
  }
}

@keyframes orbit-right {
  0% {
    opacity: 1;
    --angle-x: 0deg;
    --angle-y: 0deg;
  }
  50% {
    z-index: -1;
  }
  100% {
    opacity: 1;
    --angle-x: 360deg;
    --angle-y: 360deg;
  }
}

@keyframes orbit-left {
  0% {
    opacity: 1;
    --angle-x: 0deg;
    --angle-y: 0deg;
    z-index: -1;
  }
  78% {
    z-index: 1;
  }
  79% {
    z-index: -1;
  }
  100% {
    z-index: -1;
    opacity: 1;
    --angle-x: 360deg;
    --angle-y: 360deg;
  }
}


div:nth-child(1 of .orb) {
  animation: 10s orbit-left 2s linear infinite;
  --angle-y: 90deg;
  --angle-x: 90deg;
  --radius-x: 4.75cqmin;
}

div:nth-child(2 of .orb) {
  background: #ce6d6e;
  animation: 10s orbit-left 2s linear infinite;
  --angle-y: 90deg;
  --angle-x: 90deg;
  --radius-x: 15.5cqmin;
}

div:nth-child(3 of .orb) {
  background: #f2ab70;
  animation: 10s orbit-right 0s linear infinite;
  --angle-y: 90deg;
  --angle-x: 90deg;
  --radius-x: 4cqmin;
}

div:nth-child(4 of .orb) {
  animation: 10s orbit-right 0s linear infinite;
  background: #f4dd6e;
  --angle-y: 80deg;
  --angle-x: 93deg;
  --radius-x: 16cqmin;
}

div:nth-child(5 of .orb) {
  animation: 10s orbit-right 0s linear infinite;
  --angle-y: 80deg;
  --angle-x: 93deg;
  rotate: 90deg;
  --radius-x: 12cqmin;
  top: calc(-1 * (var(--track-size) / 2));
}

div:nth-child(6 of .orb) {
  animation: 10s orbit-left 0s linear infinite;
  background: #ce6d6e;
  --angle-y: 80deg;
  --angle-x: 93deg;
  rotate: 90deg;
  --radius-x: calc(12cqmin + (var(--track-size) / 2));
  top: 50cqmin;
}

@keyframes draw-tee-line {
  50% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: -194px;
  }
  100% {
    stroke-dashoffset: -194px;
  }
}

@keyframes draw-cd-line {
  50% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: -194px;
  }
  100% {
    stroke-dashoffset: -194px;
  }
}

.tee-line {
  animation: draw-tee-line 4s linear forwards infinite;
  stroke-linecap: round;
  stroke-dasharray: 194px;
  stroke-dashoffset: 194px;
}

.cd-line {
  --cd-stroke-length: 194;
  animation: draw-cd-line 4s linear forwards infinite;
  stroke-linecap: round;
  stroke-dasharray: calc(1px * var(--cd-stroke-length));
  stroke-dashoffset: calc(1px * var(--cd-stroke-length));
  stroke: var(--color-brand-orange);

}

@keyframes t-shirt-move {
  0%,
  100% {
    transform: translateY(0px) scale(0.95);
    transform-origin: center;
  }
  50% {
    transform: translateY(20px) scale(0.85);
    transform-origin: center;
  }
}

#t-shirt {
  /* transform: translateY(25px);
        scale: 0.8; */
  animation: t-shirt-move 8s ease-in-out infinite;
  transform-origin: center;
}

@keyframes mug {
  0%,
  100% {
    transform: translateY(45px) scale(0.85);
  }
  50% {
    transform: translateY(0px) scale(1);
  }
}

#mug {
  /* scale: 0.8; */
  transform-origin: left center;
  /* transform: translateY(70px); */
  animation: mug 8s ease-in-out infinite;
}

@keyframes record-spin {
  to {
    transform: rotate(360deg);
  }
}

#Record_2 {
  transform-origin: center;
  animation: record-spin 8s ease-in-out infinite;
}
