:root {
  --hero-expanded-surface-color: var(--color-dark);
  --hero-expanded-surface-mix-color: var(--color-primary);
  --hero-expanded-nav-bg: oklch(
    from
      color-mix(
        in oklab,
        var(--hero-expanded-surface-mix-color),
        var(--hero-expanded-surface-color) 70%
      )
      l c h / 1
  );
}

:where(.layout-grid > .hero) {
  grid-column: 1/-1;
}

.hero {
  container-type: size !important;
  height: var(--hero-height);
  .card[data-card-column-reverse-order="true"] {
    .card-picture img[src$=".png"] {
      filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.2));
    }
  }
}

:where(.hero .card) {
  border-radius: 0;
  --card-gap-row: var(--layout-gap);
}

.hero {
  @each $key, $value in $heading-sizes {
    .heading-#{$key}.fluid-cq {
      --heading-#{$key}-font-fluid-cq-variance: 4cqi;
    }
  }
}

.hero .card-body__content__caption-title.fluid-cq {
  --heading-3xl-font-size-min: var(--xl);
}

.hero--expanded .card-body__content__caption-title.fluid-cq {
  --heading-3xl-font-size-max: var(--display-2xl);
}

// TEMP REMOVAL BECAUSE layer order is overriding the data attr modifiers in the card component

.hero .card:not([data-card-layout="col"]):not([data-card-layout="overlay"]) {
  @container (inline-size < 80ch) {
    :is(
      .card-body,
      .card-body__content,
      .card-body__content-slot,
      .card-body__content-slot img,
      .card-body__content-slot p:has(img)
    ) {
      height: 100%;
    }
  }
  .card-body__content-slot p:has(img) {
    display: contents;
  }
  :where(.card-body__content-slot img) {
    margin-inline: auto;
  }
}

////// new hero mobile fixes
///
.hero {
  @container (inline-size < 80ch) {
    .card-picture:not(:empty) :where(img:is(:last-of-type)) {
      height: 100cqh;
      bottom: auto;
    }
    .card {
      &:not([data-card-row-content-0-size]) {
        --card-top-row: 1fr;
      }
      &:not([data-card-row-content-1-size]) {
        --card-bottom-row: min-content;
      }
      &[data-card-row-reverse-order] {
        &:not([data-card-row-content-0-size]) {
          --card-top-row: min-content;
        }
        &:not([data-card-row-content-1-size]) {
          --card-bottom-row: 1fr;
        }
        ///// new conditions for mobile image sizing
        /// height is calc(100% - var(--layout-gap))
        //// image at top - below 80ch
        /// - card-picture is first child of card AND NOT data-card-row-reverse-order
        /// - card-picture is last child of card AND data-card-row-reverse-order
        /// Rules:
        /// top:auto; bottom: 0;
        /// 

        //// image at bottom - below 80ch
        /// - card-picture is first child of card AND data-card-row-reverse-order
        /// - card-picture is last child of card AND NOT data-card-row-reverse-order
        /// Rules:
        /// top:0; bottom: auto;
        /// 
        
      }
      .card-picture:not(:empty) :where(img) {
        &:first-of-type {
          height: calc(100% - var(--layout-gap));
        }
      }      
      &:is(&:is(:not([data-card-row-reverse-order])):has(.card-picture:first-child), &:is([data-card-row-reverse-order]):has(.card-picture:last-child)) {
        .card-picture:not(:empty) :where(img:is(:first-of-type)) {
          top: auto;
          bottom: 0;
        }
      }

      &:is([data-card-row-reverse-order]:has(.card-picture:first-child)), &:is(:not([data-card-row-reverse-order]):has(.card-picture:last-child)) {
        .card-picture:not(:empty) :where(img:is(:first-of-type)) {
          top: 0;
          bottom: auto;
        }
        .card-picture:not(:empty) :where(img:is(:last-of-type)) {
          top: auto;
          bottom: 0;
        }        
      }      
    }
    .card-picture {
      position: relative;
      width: 100vw;
      margin-inline: calc(-50vw + 50%);
      > img {
        &:first-of-type {
          position: absolute;
          height: 100%;
        }
      }
    }
  }

}

.hero .card-picture {
  max-height: var(--hero-height);
  height: 100%;
  max-width: 100vw;
  margin-inline: auto;
  width: 100%;
}

.hero .card-picture:has(* + *) {
  > *:first-child {
    z-index: 1;
  }
  > *:not(source) + * {
    position: absolute;
    inset: 0;
    object-fit: cover !important;
    height: 100%;
  }
}

:where(.card-picture source) {
  position: absolute;
}

.hero:has(.card-picture > *:not(source) + *) {
  .card-body {
    z-index: 1;
  }
}

:where(.hero .card-body__content-slot img) {
  @container (inline-size < 80ch) {
    max-height: 40cqh;    
  }
}





