/* Error: Undefined variable.
 *    ,
 * 28 |   @media #{$mouse} {
 *    |            ^^^^^^
 *    '
 *   styles/base/components/_buttons.scss 28:12  @import
 *   styles/base/_base.scss 2:11                 @import
 *   styles/tailwind.scss 149:11                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 28 \2502    @media #{$mouse} {\a    \2502             ^^^^^^\a    \2575 \a   styles/base/components/_buttons.scss 28:12  @import\a   styles/base/_base.scss 2:11                 @import\a   styles/tailwind.scss 149:11                 root stylesheet";
}
