@use "sass:math";
@use "small-style/scss/index" as * with (
  $baseResetRulesScopeClassName: ":root:is(.new) :is(#body, .c-footer) *",
  $surface-colors: "primary" "secondary" "tertiary" "grey" "dark" "light" "primary-light" "brand-orange" "brand-red" "brand-yellow",
  $include-forms: false,
  $button-selectors: '.button, .ss-button'
);
@use "small-style/scss/base/mixins/rules/props/_colors" as *;
@use "small-style/scss/base/variables/components/forms" as *;
@use "small-style/scss/base/variables/components/typography/headings" as *;
@use "small-style/scss/base/mixins/rules/components/_forms" as *;
@use "small-style/scss/base/mixins/rules/components/_layout" as *;
@use "small-style/scss/base/mixins/rules/components/typography/_fluid-type" as *;
@use "./base/mixins/rules/components/forms" as *;

@use "./site/variables" as *;

@use "./mixins/components/content-layout" as * with (
  $contentGridFullLgBp: $contentGridFullLgBpValue
);

@import "./preflight-modified.css" layer(tw-base);
@import "tailwindcss/theme.css" layer(tw);
@import "tailwindcss/utilities.css" layer(tw);

@source "../*.html";
@source "../../**/*.html";
@source "../../**/*.vue";
@source "../../**/*.js";

// Safelist classes
@source inline("{@sm:,@md:,@lg:,}{col-span}-{1..6}");
@source inline("{@sm:,@md:,@lg:,}{col-span}-{full}");
@source inline("flex");
@source inline("block");
@source inline("{@md:,@lg:,@xl:,@2xl:,@3xl:,@4xl:,@5xl:,@6xl:,}{w}-{full,auto}");
@source inline("{@md:,@lg:,@xl:,@2xl:,@3xl:,@4xl:,@5xl:,@6xl:,}{absolute}");
@source inline("{@md:,@lg:,@xl:,@2xl:,@3xl:,@4xl:,@5xl:,@6xl:,}{relative}");
@source inline("{@md:,@lg:,@xl:,@2xl:,@3xl:,@4xl:,@5xl:,@6xl:,}[--column-count:{1..8}]");
@source inline("{sm:md:,lg:,xl:,@md:,@lg:,@xl:,@2xl:,@4xl:,@5xl:,@6xl:,}{pt,pb,py,pl,pr,px,mt,mb,my,ml,mr,mx}-{xs,sm,md,lg,xl,2xl,3xl,4xl,5xl,6xl,layout-gap,section-gap,section-gap-lg,section-gap-xl,section-gap-2xl,section-gap-3xl}");
@source inline("{@md:,@lg:,@xl:,@2xl:,@3xl:,@4xl:,@5xl:,@6xl:,}{[--flow-space:{var(--space-xs), var(--space-sm), var(--space-md), var(--space-lg), var(--space-xl), var(--space-2xl)}]}");
@source inline("[{--card-backdrop-color-stop-to-opacity,--card-backdrop-color-stop-from-opacity}:{0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1,0}]");
@source inline("{@md:,@lg:,@xl:,@2xl:,@3xl:,@4xl:,@5xl:,@6xl:,}[{--card-picture-aspect}:{none,1/1,4/3,3/2,2/1,16/9}]");
@source inline("fluid-cq");
@source inline("[--flex-grid-min:25ch]");
@source inline("{font}-{bold,semibold}");
@source inline("{lg:}{bg}-{transparent}");
@source inline("[{--heading-3xl-font-size-max,--heading-3xl-font-size-min,--heading-2xl-font-size-max,--heading-2xl-font-size-min,--heading-xl-font-size-max,--heading-xl-font-size-min}:{var(--display-xs),var(--display-sm),var(--display-md),var(--display-2xl)}]");
@source inline("{max-w}-{screen,xs,sm,md,lg,xl,2xl,max-wrapper-width}");

// @import "small-style/dist/style.css";

@layer existing-overrides {
  // @import url("existing-overrides.css");
  @import "./site/existing-overrides/header";
  @import "./site/existing-overrides/product-landing";
  @import "./site/existing-overrides/product-details";
  @import "./site/existing-overrides/basket";
  @import "./site/existing-overrides/popup";
  @import "./site/existing-overrides/login";
  @import "./site/existing-overrides/footer";

  @layer unset {
    :where(.htmlBlock) {
      background: transparent;
    }

    :where(.authenticated.new) {
      #breadCrumb {
        display: none;
        + #body {
          margin-top: 30px;
        }
      }
      #megaMenuHeader
        #navWrapper
        .navinner
        > ul.loggedIn
        > li
        ul.primary
        .megaMenu
        ul.categories
        li.category
        .group-label,
      #megaMenuHeader
        #navWrapper
        .navinner
        > ul.loggedIn
        > li
        > .editWebPartContainer
        ul.primary
        .megaMenu
        ul.categories
        li.category
        .group-label,
      #megaMenuHeader
        #navWrapper
        .navinner
        > ul.loggedIn
        ul.primary
        > li
        ul.primary
        .megaMenu
        ul.categories
        li.category
        .group-label {
        font-size: 16px;
        color: #004f59;
        font-weight: normal;
        text-transform:none;
        font-family: 'Source Sans Pro', Arial, sans-serif;
      }
      #megaMenuHeader
        #navWrapper
        .navinner
        > ul.loggedIn
        ul.primary
        > li > a {
          text-transform: uppercase;
        }
      .sticky-wrapper, #accountHeader {
        font-size: 14px;
        font-family: 'Source Sans Pro', Arial, sans-serif;
      }
      .loggedInSearch > span {
        width:100%!important;
        > input {
          height:2rem!important;
        }
      }
    }

  }

  @layer new {

    html {
      font-size: var(--font-size-base-px, 16px);
    }

  }
}

@layer base {
  @import "./base/base";
}

@layer site {
  @import "./site/site";
  // generate data-component as a seperate css file
  @import "./data-component";
}

@layer site-props {
  @import "./site/site-props";

}

@layer tw-base {
  :root:is(#body, .c-footer, .unauthenticated) {
    @import url("preflight-modified.css");
  }
}

@layer tw {
  @import "./site/tailwind/theme";
}

@utility flow--* {
  --flow-space: --value(--spacing-*);
  --flow-space: --spacing(--value(integer));
}

// @utility fluid {
//     --fluid-min: calc(var(--font-size-min, var(--sm-px, 14)) * pow(var(--font-ratio-min, 1.2), var(--font-level, 0)));
//     --fluid-max: calc(var(--font-size-max, var(--font-size-base-px, 16)) * pow(var(--font-ratio-max, 1.5), var(--font-level, 0)));
//     --fluid-preferred: calc((var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max, 1275) - var(--font-width-min, 375)));
//     --fluid-type: clamp((var(--fluid-min) / 16) * 1rem,((var(--fluid-min) / 16) * 1rem) - (((var(--fluid-preferred) * var(--font-width-min, 375)) / 16) * 1rem) + (var(--fluid-preferred) * var(--variable-unit, 100vi)),(var(--fluid-max) / 16) * 1rem);
//     font-size: var(--fluid-type);
// }

@utility fluid-cq {
    @include fluid-type-cq();
}

@utility lg-squircle {
  border-radius: calc(var(--radius) * 3);
  overflow: clip;
  @supports (corner-shape: squircle) {
    corner-shape: squircle;
    border-radius: calc(var(--radius) * 5);
  }  
}
