@mixin form-row-label-overlay-rules {
  --text-frame-y: var(--input-fs);
  --text-frame-x: calc(var(--text-frame-y) * var(--text-frame-ratio));
  --label-fs: var(--text-xs);
  --input-text-frame-y: calc(var(--text-frame-y) + var(--label-fs));
  --input-fs: var(--font-size-base);
  grid-template-rows: calc(var(--label-fs) + var(--space-3xs)) 1fr;
  > * {
    grid-column: 1/-1;
  }
  label {
    z-index: 1;
    margin-left: var(--text-frame-x);
    margin-block-start: var(--space-3xs);
    grid-row: 2/-1;
    align-self: start;
    font-size: var(--label-fs);
    padding-block-start: 0;
    + :is(input, textarea, select) {
      grid-row: 2/-1;
    }
  }
  :is(input, textarea) {
    grid-row: 2/-1;
    padding-block-end: var(--text-frame-y);
    &:not(:focus, :focus-within) {
      &::placeholder {
        color: transparent;
      }
    }
  }
  &:has(input:is(:focus, :focus-within)) label {
    opacity: 0.5;
  }
}